<% provide(:title, "Edit employee") %>
<h1>Update Employee Details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@employee) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %> 
        

      <%= f.label :name %>
          <%= f.text_field :name, class: "form-control"%>

          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control"%>

          <%= f.label :Phone %>
          <%= f.text_field :number, class: "form-control"%>

          <%= f.label :rate_of_pay %>
          <%= f.text_field :rate_of_pay, class: "form-control"%>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>