<% provide(:title, 'Edit Roster') %>
    <h1>Update Roster Details</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@roster) do |f| %>

          <%= f.label :Begin_date %>
          <%= f.text_field :begin_date %>


          <%= f.label :employee_id %><br />
          <%= f.collection_select(:employee_id, current_user.employees, :id, :name, {}, {:class => "foo"} ) %>
          <br>
          
          <%= f.label :shift_id %><br />
          <%= f.collection_select(:shift_id, current_user.shifts, :id, :start_time, {}, {:class => "foo"}) %>
          <br>


         
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
      </div>
      </div>