<% if logged_in? %>
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
	    <li class="sidebar_CreateEmployee"><%= link_to " Create a Employee", "/employees" %></li>
	    <li class="sidebar_ViewEmployee"><%= link_to " View all Employees", "/viewEmployees" %></li>

	    <li class="sidebar_EditEmployee"><%= link_to " Edit Employee", "/editEmployees" %></li>

	      <li class="sidebar_CreateShift"><%= link_to "Create a Shift", "/shifts" %></li>
	      <li class="sidebar_ViewShift"><%= link_to "View all Shifts", "/viewShifts" %></li>

	      <li class="sidebar_DeleteShift"><%= link_to "Delete a Shift", "#" %></li>

	      <li class="sidebar_CreateRoster"><%= link_to "Create a Rosters", "/rosters" %></li>
 		 <li class="sidebar_ViewRoster"><%= link_to "View a Rosters", "/viewRosters" %></li>

 		  <li class="sidebar_EditRoster"><%= link_to "Edit a Rosters", "#" %></li>
 		   <li class="sidebar_Roster"><%= link_to "Remove a Rosters", "#" %></li>
 		   
 		   <li class="sidebar_CreateHoliday"><%= link_to " Create a Holiday", "/holidays" %></li>
 		   <li class="sidebar_ViewHoliday"><%= link_to " View All Holidays", "/viewHolidays" %></li>
  	</ul>
  	</div>
<% end %>